body {
    background-color: rgb(245, 238, 238);
    font-family: "Open Sans", Helvetica, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h1,
h2 {
    color: grey;
}

.list {
    border: grey 0.5px solid;
    background-color: rgb(223, 217, 217);
    cursor: pointer;
}

.list-one {
    border: solid 0.5px grey;
    background-color: white;
    cursor: pointer;
}

.list-one:hover {
    background-color: rgb(245, 238, 238);
}

.yellow {
    border: yellow 1px solid;
    background-color: yellow;
    margin-top: 10px;
}

h2 {
    padding: 30px 0px 5px 20px;
}

button {
    background-color: green;
    width: 120px;
    height: 25px;
    border-radius: 5%;
    border: rgb(228, 223, 223) 1px solid;
    color: white;
    margin: 30px 0px 10px 0px;
}

.padding {
    padding: 10px 0px 10px 20px;
    border: yellow 1px solid;
    background-color: yellow;
}

a {
    float: right;
    background-color: red;
    padding: 1px 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}